<%- include("partials/header.ejs") -%>
<body
  class="flex flex-col items-center justify-center w-full min-h-screen bg-zinc-100"
>
  <p class="text-4xl text-red-500">OOPS!</p>
  <p class="text-xl text-red-500">route not found</p>
</body>
<%- include("partials/footer.ejs") -%>
